body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #007bff;
    color: white;
    padding: 1.5em 0;
}

section{
    margin: 2em auto;
    width: 80%;
}

footer{
    background-color: #222;
    color: white;
    padding: 1em 0;
}